*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: hsl(0, 100%, 90%);
    text-align: center;
    padding: 20px;
}
.navbar{
    background-color: hsl(30, 100%, 90%);
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding:10px 10px;
}
section{
    width: 40%;
    float: left;
    padding:10px 10px;
}
article{
    width: 40%;
    float: left;
    padding:10px 10px;
}
footer{
    background-color: hsl(0, 100%, 90%);
    text-align: center;
    padding: 20px;
    clear: both;
    display: block;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }

}